<div class="container">
  <div class="row">
    <div class="col s12 m8">
      <h3 id="blog-title"><%= blog.title %></h3>
      <div class="card story">
        <div class="card-content">
          <span id="date" class="card-title"
            ><%= formatDate(blog.createdAt, 'MMMM Do YYYY') %></span
          >
          <%= stripTags(blog.body) %>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card center-align">
        <div class="card-content">
          <span id="blog-owner" class="card-title">
            <%= blog.owner.displayName %>
          </span>
          <img
            src="<%= blog.owner.image %> "
            class="circle responsive-img img-small"
          />
        </div>
        <div class="card-action">
          <a id="more" href="/blogs/user/<%=blog.owner._id %>"
            >More From <%= blog.owner.displayName %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
